[Unit]
Description=Buldan

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/home/ubuntu/buldan/server/bin/server /home/ubuntu/buldan/buldan-front/dist/
StandardOutput=append:/var/log/buldan/log.log
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
